<p>Tools editor</p>
<form class="tools-form" id="tools-form">
  <ul><li>

  <label>
    Name
    <input id="name" name="name"/>
  </label>

  </li><li>

  <label>
    Url
    <input id="url" name="url"/>
  </label>

  </li><li>
    <a href="#">List</a> |
    <button>Save</button>
  </li></ul>
</form>